<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body bgcolor='cyan'> 
    <a href="/">Home</a></br>
    <a href="/contactus">contactus</a></br>
    <a href="/addition">additionm</a></br>
    <a href="/add_product">Add Product</a></br>


    <h1>This is the Home Page of Templates calling</h1> <hr>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas eveniet alias iste tempora odit, exercitationem quae temporibus aliquam eos molestiae in sint odio minus praesentium veritatis iusto laudantium suscipit ducimus at ipsum voluptates consequuntur? Saepe, dolorem voluptate! Officiis, ullam quisquam!</p>

    <h2>This template calling is done by {{name}}</h2>
    {% block content %}


    {% endblock  %}
   
</body>
</html>